<ion-header>
  <ion-toolbar>
    <ion-button size="small" *ngIf="_us.activo()" (click)="_us.logout()">Logout</ion-button>
    <ion-title>
      Mi tienda
    </ion-title>

    <ion-buttons slot="end">
      <ion-button icon-only (click)="_cs.ver_carrito()">
        <ion-icon name="cart"></ion-icon>
        <ion-badge class="carrito-numero" color="danger">{{_cs.productos.length}}</ion-badge>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>
  <ion-row *ngFor="let pares of productos">
  <ion-col *ngFor="let item of pares" (click)="pinchar(item)">
    <img src={{rutaImagen(item.codigo)}}>
    <p>
      {{item.producto}}
      <br>
      {{item.precio_compra}}

    </p>
  </ion-col>
</ion-row>
</ion-grid>
  


<ion-infinite-scroll threshold="100px" (ionInfinite)="siguiente_pagina($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  
</ion-content>
